/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f1f1f1;
    font-family: "Comfortaa", sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #666;
}

/* Main Styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.project {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.project img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project p {
    margin-bottom: 1.5rem;
}

.project a {
    align-self: flex-end;
}

.testimonial {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.testimonial p {
    margin-bottom: 1.5rem;
}

.testimonial .author {
    font-style: italic;
}

/* Contact Form Styles */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    display: block;
    background-color: #333;
}